input[type="checkbox"].ios-switch {
    position: absolute;
    margin: 8px 0 0 16px;
}

input[type="checkbox"].ios-switch+label {
    position: relative;
    padding: 5px 0 0 50px;
    line-height: 2.0em;
}

input[type="checkbox"].ios-switch+label:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 40px;
    /* x*5 */
    height: 24px;
    /* x*3 */
    border-radius: 16px;
    /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

input[type="checkbox"].ios-switch+label:after {
    content: "";
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 24px;
    /* x*3 */
    height: 24px;
    /* x*3 */
    border-radius: 16px;
    /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

input[type="checkbox"].ios-switch+label:hover:after {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

input[type="checkbox"].ios-switch:checked+label:after {
    margin-left: 16px;
}

input[type="checkbox"].ios-switch:checked+label:before {
    background: #55D069;
}

input[type="checkbox"].ios-switch-lg {
    margin: 10px 0 0 20px;
}

input[type="checkbox"].ios-switch-lg+label {
    position: relative;
    padding: 5px 0 0 60px;
    line-height: 2.3em;
}

input[type="checkbox"].ios-switch-lg+label:before {
    width: 50px;
    /* x*5 */
    height: 30px;
    /* x*3 */
    border-radius: 20px;
    /* x*2 */
}

input[type="checkbox"].ios-switch-lg+label:after {
    width: 30px;
    /* x*3 */
    height: 30px;
    /* x*3 */
    border-radius: 20px;
    /* x*2 */
}

input[type="checkbox"].ios-switch-lg+label:hover:after {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

input[type="checkbox"].ios-switch-lg:checked+label:after {
    margin-left: 20px;
    /* x*2 */
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px #eee solid;
}

.checkbox-container:hover input~.checkbox-checkmark {
    background-color: #fff;
}

.checkbox-container input:checked~.checkbox-checkmark {
    background-color: #fff;
}

.checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkbox-checkmark:after {
    display: block;
}

.checkbox-container .checkbox-checkmark:after {
    left: 6px;
    top: 1px;
    width: 7px;
    height: 12px;
    border: 1px #177ce9 solid;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
