.ease-in-out {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

blockquote {
    border-left: 0px solid #000;
    padding-left: 60px;
    margin: 20px 0 20px 0;
    font-weight: 500;
    font-style: italic;
    color: #000;
    font-size: 15px;
    line-height: 1.58;
    letter-spacing: 3px;
    background: url('/images/blockquote.png') no-repeat left top;
    background-size: 40px;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ellipsis-multi-line {
    text-overflow: ellipsis;
    overflow: hidden;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.flex-item {
    display: flex;
}

.border-0 {
    border: 0;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
}

.airbnb-shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
}

.hover-shadow {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.hover-shadow:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
}

.line {
    background: #eee;
    height: 1px;
    width: 100%;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.empty-data-layout {
    font-size: 12px;
    color: #ccc;
    padding: 50px 0;
    text-align: center;
}

.loading-layout {
    width: 100vw;
    height: 100vh;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
}

.loading-layout-image img {
    width: 39px;
}

.page-loading-layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

.clear-font-size {
    font-size: 0;
}

.overflow-y {
    overflow-x: hidden;
    overflow-y: auto;
}

.overflow-x {
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    overflow-x: auto;
}

.container {
    position: relative;
    margin: 70px 0 0 0;
    min-height: calc(100vh - 70px);
}

.back-evt-btn {
    font-size: 30px;
}

.back-evt-btn:active {
    opacity: .555;
}

.page-loading {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
}

.general-radius {
    border-radius: 30px;
}

.fit-cover {
    object-fit: cover;
}

.pointer {
    cursor: pointer;
}

@media screen and (max-width: 1023px) {
    .padding-for-device {
        padding-left: 20px;
        padding-right: 20px;
    }

    .margin-for-device {
        margin-left: 20px;
        margin-right: 20px;
    }
}