.display-desktop {
    display: block;
}

.display-mobile {
    display: none;
}

@media screen and (max-width: 1023px) {
    .display-desktop {
        display: none;
    }

    .display-mobile {
        display: block;
    }
}
