.ease-in-out {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

blockquote {
    border-left: 0px solid #000;
    padding-left: 60px !important;
    margin: 20px 0 20px 0;
    font-weight: 500;
    font-style: italic;
    color: #000;
    font-size: 15px;
    line-height: 1.58;
    letter-spacing: 3px;
    background: url('/images/blockquote.png') no-repeat left top;
    background-size: 40px;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ellipsis-multi-line {
    text-overflow: ellipsis;
    overflow: hidden;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.z-index-10 {
    z-index: 10;
}

.flex-item {
    display: flex;
}

.alert {
    background-color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    outline: none;
    padding: 0;
    position: absolute;
    width: 504px;
    z-index: 501;
}

.border-0 {
    border: 0;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
}

.airbnb-shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
}

.hover-shadow {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.hover-shadow:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important;
}

.vertical-middle {
    vertical-align: middle;
}

.vertical-top {
    vertical-align: top;
}

.vertical-sub {
    vertical-align: sub;
}

.vertical-bottom {
    vertical-align: bottom;
}

.line {
    background: #eee;
    height: 1px;
    width: 100%;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.empty-data-layout {
    font-size: 12px;
    color: #ccc;
    padding: 50px 0;
    text-align: center;
}

.loading-layout {
    width: 100vw;
    height: 100vh;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
}

.loading-layout-image img {
    width: 39px;
}

.page-loading-layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

.evt-loading-layout {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.evt-loading-layout img {
    width: 39px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.clear-font-size {
    font-size: 0;
}

.overflow-y {
    overflow-x: hidden;
    overflow-y: auto;
}

.overflow-x {
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    overflow-x: auto;
}

.container {
    position: relative;
    margin: 70px 0 0 0;
    min-height: calc(100vh - 70px);
}

.notification-message {
    position: fixed;
    left: 50%;
    bottom: 0;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    z-index: 150;
    width: 350px;
    padding: 14px 19px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 500;
    display: none;
    letter-spacing: 0px;
    margin-bottom: 10px;
}

.ok-style {
    background-color: #000;
    color: #fff;
}

.error-style {
    background-color: #D13434;
    /* CA463F */
    color: #fff;
}

.back-evt-btn {
    font-size: 30px;
}

.back-evt-btn:active {
    opacity: .555;
}

.page-loading {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
}

.notification-bubble {
    background-color: #FC3158;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.notification-bubble-with-number {
    color: #fff;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    line-height: 21px;
    font-size: 12px;
    text-align: center;
}

.user-online-status-icon {
    width: 23px;
    height: 23px;
    border: 3px #fff solid;
    position: absolute;
    border-radius: 50%;
    right: -5px;
    bottom: -5px;
}

.radius-5 {
    border-radius: 5px;
}

.general-radius {
    border-radius: 30px;
}

.fit-cover {
    object-fit: cover;
}

.pointer {
    cursor: pointer;
}

@media screen and (max-width: 1023px) {
    .padding-for-device {
        padding-left: 20px;
        padding-right: 20px;
    }

    .margin-for-device {
        margin-left: 20px;
        margin-right: 20px;
    }

    .notification-message {
        margin-bottom: unset;
        bottom: unset;
        position: fixed;
        border-radius: 0;
        left: 0;
        top: 0;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        width: 100%;
        font-size: 13.9px;
        padding: 15px 20px;
    }
}
