.manager-permission-checkbox input[type=checkbox] {
    display: none;
}

.manager-permission-checkbox label {
    background-color: #fff;
    color: #fff;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    font-size: 18px;
    text-align: center;
    padding: 0px 6px;
    margin: 0;
    display: inline-block;
    border: 1px #eee solid;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    font-weight: 400;
}

.manager-permission-checkbox label:hover {
    /* border:1px #000 solid; */
}

.manager-permission-checkbox input[type=checkbox]:checked+label {
    background: #000;
    color: #fff;
    border: 1px #000 solid;
}